
* {
  font-family: raleway, sans-serif;
  margin: 0;
  transition: all 0.5s ease;
  background-color: #293241;
  color: white;
  overflow: auto;
}

div, nav, p, h3, ul, li {
  background-color: inherit;
  color: inherit;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.3rem;
}

.contentDiv {
  margin-bottom: 120px
}
#name{
  width: 80vw;
  margin: auto;
  text-align: center;
  font-size: 4.3rem;
  padding: 2rem;
  padding-bottom: 1rem;
  font-family: raleway;
}


#name:hover {
  animation: shake 0.82s ;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

h3{
  padding-top: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 0 4rem;
  border: solid white;
  border-width: 1px 0;
  margin-bottom: 1rem;
}

footer {
  padding-bottom: 2rem;
  height: 7rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

nav a {
  background-color: inherit;
  color: inherit
}

nav a {
  margin-top: 0;
  font-size: 1.1rem;
}

a:hover {
  border: .5px solid;
}

nav a:hover {
  border-width: 0 1px;
}

.landingSplit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #293241;
  margin: 0 4rem;
}


.landingHalf{
  height: 400px;
  width: 400px;
}

#bio{
  color: #293241;
  background-color: #b5efe4;
}

.landingHalf img {
  height: 100%;
}

.landingResearch {
  background-color: #3D5A80;
}

.flexContainerCenter {
  display: flex;
  justify-content: center;
}

#bio * {
  padding: .5rem;
}

#bio li {
  padding: 0;
}

#bio .flexContainerCenter {
  padding: 0;
}
#bio a {
  font-size: .8rem;
  padding: .5rem;
  margin-bottom: 2rem;
}

#bio a:hover {
  background-color: white;
  color: #293241;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  margin: 1rem 4rem;
  flex-wrap: wrap;
}

.researchBlurb {
  flex-basis: 70%;
  margin-left: 2rem;
}

.heading {
  font-size: 2rem;
  padding: .1rem;
  border-bottom: solid .5px white;
}

footer .heading {
  text-align: center;
  margin: 1rem 4rem;
}

footer p {
  text-align: center;
}
.biblio {
  margin: 1rem 4rem;
}

.flex {
  display: flex;
}

.flexTeaching {
    display: flex;
    justify-content: space-around;
    margin-right: 4rem;
    align-items: center;
}

.flexTeaching a {
  font-size: .9rem;
  border: 1px white solid;
  padding: .3rem;
  border-radius: 6px;

}

.flexTeaching a:hover {
  background-color: #b5efe4;
  color: #293241
}

.teaching {
  margin: 2rem;
  overflow: auto;
}

.teaching-research {
  margin: 2rem 8rem;
  height: calc(100vh - 25rem);
  overflow: auto;
}

#imager {
  width: 200px;
  height: 200px;
  background-color: white;
}

@media (max-width: 530px) {
  #name {
    font-size: 3rem;
  }
  .landingSplit{
    margin: 0 1rem;
  }
  .landingHalf {
    height:350px;
    width: 350px;
  }

  .teaching-research {
    margin: 2rem;
  }
}
/*orange that looks good EE6C4D*/
/*brighter lighterblue E0FBFC*/
/*duller light blue 98C1D9*/
/*darkish but not midnight #3D5A80*/
